ul a {
    text-align: center;
    font-size: 20px;
    color: black;
}

.border, .border-bottom {
    border: 1px solid gray !important;
}

.container {
    font-family: 'Comic Neue';
}

h1 {
    text-align: center;
}
