ul a {
    text-align: center;
    font-size: 20px;
    color: black;
}

.border, .border-bottom {
    border: 1px solid gray !important;
}

.container-fluid {
    font-family: 'Comic Neue';
}

.section-color {
    background-color: gray;
}

.only-mobile {
    visibility: hidden;
}

@media (max-width: 566px){
    .col-xs-12 {
        margin-bottom: 5px;
    }

    .only-mobile {
        visibility: visible;
    }
}

@media(min-width: 567px) and (max-width:991px) {
    .margin-class {
        margin-bottom: 5px;
    }
}