* {
	box-sizing: border-box;
}

header {
	text-align: center;
}

body {
	background-color: green;
}

section {
	padding: 5px;
	text-align: justify;
	border: 1px solid;
}

#first, #second, #third {
	float: left;
	width: 31.3%;
	margin: 1%;
}

#first {
	background-color: red;
}

#second {
	background-color: orange;
}

#third {
	background-color: blue;
}

#sub_title1 {
	background-color: gray;
	position: relative;
}

#sub_title2 {
	background-color: gray;
	position: relative;
}

#sub_title3 {
	background-color: gray;
	position: relative;
}

@media (min-width: 768px and max-width: 991px) {


}